database: &database
  db.username: postgres
  db.password: postgres
  db.host: db

aws: &aws
  aws.user:
  aws.address:
  aws.region:
  aws.access_key_id:
  aws.secret_access_key:
  aws.s3_directory:

mailer: &mailer
  mailer.address: smtp.gmail.com
  mailer.port: '587'
  mailer.user_name:
  mailer.password:
  mailer.domain: gmail.com

development:
  <<: *mailer
  <<: *aws
  <<: *database
  jwt_key: 42dcb8f62dd54def56861cee45b61350268713d82c0cbe32013d395638908b1f2217de4dabb95ee3868f9d3063ea040d5304cbfe73e875db4bd5f08704632f85

test:
  <<: *mailer
  <<: *database
  jwt_key: 42dcb8f62dd54def56861cee45b61350268713d82c0cbe32013d395638908b1f2217de4dabb95ee3868f9d3063ea040d5304cbfe73e875db4bd5f08704632f85

production:
  jwt_key: 42dcb8f62dd54def56861cee45b61350268713d82c0cbe32013d395638908b1f2217de4dabb95ee3868f9d3063ea040d5304cbfe73e875db4bd5f08704632f85
  db.username:
  db.password:
  db.host:
  mailer.address: smtp.gmail.com
  mailer.port: '587'
  mailer.host:
  mailer.user_name:
  mailer.password:
  mailer.domain: smtp.gmail.com
  aws.user:
  aws.address:
  aws.region:
  aws.access_key_id:
  aws.secret_access_key:
  aws.s3_directory:
