<p>Seja bem vindo <%= @email %>!</p>

<p>Você pode confirmar a criação da sua conta com o link abaixo, ou copiando e colando a url no seu navegador:</p>

<p><%= ENV["FRONT_CONFIRM_URL"] %>?confirmation_token=<%= @token %></p>

<p><%= link_to 'Confirmar minha conta', "#{ENV["FRONT_CONFIRM_URL"]}?confirmation_token=#{@token}" %></p>
